<footer>
    <div class="row justify-content-center ">
        <div class="col-md-4">


            <strong>Contact Info</strong>
            <p>(888) 888-8888<br> email@product.com</p>
            <a href="https://www.youtube.com/user/DrewOnCue" target="_blank"><i class="fab fa-facebook-square"></i></a>
            <a href="https://twitter.com/DrewOnCue" target="_blank"><i class="fab fa-twitter-square"></i></a>
            <a href="https://instagram.com/drew_ryan_/" target="_blank"><i class="fab fa-instagram"></i></a>
        </div>


    </div>
</footer>
